body{
  background-color: lightgray;
  margin: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar{
background-color: white;
box-shadow: 0 10px 10px rgba(0, 0, 0, 0.199);
}
.navbar nav{
  max-width: 900px;
  margin: 0 auto;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}
.navbar .logo img {
  margin-right: 5px;
}
.navbar .logo{
  font-size: 20px;
  color: black;
  text-decoration: none;
}
.navbar ul li a{
  color: blue;
  text-decoration: none;
  padding: 10px 15px;
  display: inline-block;
}
.navbar ul li{
  margin: 0px;
  padding: 0px  ;
  }
.navbar ul li a.active{
  background-color: blue;
  color: white;
  border-radius: 5px;
}
